*.txt
DATA*
REF*
Annotation Errors.docx
Common GENES.txt
REF Plasmodium vivax
Rubbish/
SETUP infernal-1.1.2/
SETUP tRNAscan-SE-2.0/
aragorn1.2.38/
bioinfo/
desktop.ini
extract.txt
home - collegamento.lnk
tRNA OLD master Github.zip
trnascan-se-2.0.pdf
all_CDS_SEQ*